

@model List<term_project.Models.Bird>
@{
    ViewBag.Title = "cbirds";
}
<br />
<br />
<legend style="color:green">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Birds<br />
<br /></legend>

<br />
<br />


<table class="table table-hover" style=" border:double; border-color:black">
            <tr>
                <td><strong>Id</strong></td>
                <td><strong>Name</strong></td>
                <td><strong>Habidant</strong></td>
                <td><strong>Killer Weapon</strong></td>
                <td><strong>Sutiable Weather</strong></td>
                </tr>
                @foreach(var s in Model)
            {
                
                {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.name</td>
                    <td>@s.place</td>
                    <td>@s.weapon</td>
                    <td>@s.weather</td>
                </tr>
                }
            }
                
        </table>
<br />
<br />
<br />


